:root {
  --blood: #ae0c00;
  --bone: #f2e2e0;
  --flesh: #a56a67;
  --night: #110100;
}

body {
  background-color: var(--night);
  color: var(--blood);
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}

a {
  color: var(--flesh);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--bone);
}

.nav_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  color: var(--bone);
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

.navbar:hover .navbar_dot {
  background-color: var(--bone);
}

.navbar_dot {
  margin-top: 8px;
  height: 12px;
  width: 12px;
  background-color: var(--blood);
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
}

.navlinks {
  padding: 0 18px;
  display: block;
  visibility: hidden;
  overflow: hidden;
}

.header_link {
  text-align: center;
}

main {
  padding-top: 10px;
}

.background_ankh {
  z-index: -1;
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  max-height: 95%;
  margin: auto;
  text-align: center;
}

.backdrop_image {
  opacity: 0.1;
  max-width: 90%;
  height: auto;
}

.index_container {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.index_section {
  border-style: outset;
  border-color: var(--blood);
  border-width: 2px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

.index_accordion {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: var(--blood);
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: "Crimson Text", serif;
  font-size: large;
}

.index_accordion:hover,
.index_accordion:active {
  color: var(--flesh);
}

.index_panel {
  display: none;
  overflow: hidden;
}

.index_table {
  max-width: 50%;
  min-width: fit-content;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.index_table th,
.index_table td {
  padding: 10px;
}

.dice_pool {
  text-align: center;
}

.dice_normal {
  height: 50px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  filter: brightness(0) saturate(100%) invert(43%) sepia(9%) saturate(190%) hue-rotate(314deg) brightness(105%)
    contrast(79%);
}

.dice_hunger {
  height: 50px;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(76%) saturate(5051%) hue-rotate(360deg) brightness(89%)
    contrast(106%);
}

.clan_menu {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 1fr);
  gap: 75px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.discipline_menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  gap: 75px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.clan_glyph {
  height: 200px;
  display: block;
  text-align: center;
}

.discipline_glyph {
  height: 100px;
  display: block;
  text-align: center;
}

.clan_glyph:hover {
  cursor: pointer;
}

.clan_glyph img,
.discipline_glyph img,
.clan_sole_discipline img {
  height: 100%;
}

.clan_name {
  display: none;
  font-size: x-large;
}

.discipline_name {
  font-size: larger;
  padding-top: 5px;
}

.clan_glyph:hover .clan_name {
  display: block;
}

/* CLAN MODALS */
/* modal background */
.clan_modal,
.discipline_modal {
  display: none;
  position: fixed; /*stay in place*/
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /*enable scroll if required*/
  background-color: #000; /*fallback colour*/
  background-color: rgba(0, 0, 0, 0.5);
}

.clan_modal_content,
.discipline_modal_content {
  background-color: var(--night);
  margin: 10% auto; /*15% from top and centred*/
  padding: 20px;
  border: 6px double var(--flesh);
  width: 60%;
  border-radius: 20px;
  position: relative;
}

.clan_disciplines,
.clan_sole_discipline {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding-bottom: 30px;
}

.clan_sole_discipline {
  grid-template-columns: 1fr;
}

.modal_close {
  color: var(--flesh);
  font-size: x-large;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 30px;
}

.modal_close:hover,
.modal_close:focus {
  color: var(--bone);
  text-decoration: none;
  cursor: pointer;
}

/* for smartphones etc. */
@media only screen and (max-width: 890px) {
  header {
    height: fit-content;
  }

  .nav_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }

  .navbar {
    padding: 6px;
  }

  .navbar_dot {
    margin-top: 4px;
    height: 6px;
    width: 6px;
  }

  main {
    padding-top: 0px;
  }

  .index_container {
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .index_table {
    font-size: medium;
  }

  .clan_menu {
    grid-template-columns: 250px;
    grid-template-rows: repeat(9, 225px);
    gap: 50px;
  }

  .discipline_menu {
    grid-template-columns: 250px;
    grid-template-rows: repeat(11, 225px);
    gap: 50px;
  }

  .clan_name {
    font-size: large;
  }

  .clan_modal,
  .discipline_modal {
    margin: auto;
    place-content: center;
  }

  .clan_modal_content,
  .discipline_modal_content {
    width: 80%;
  }

  .clan_disciplines {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .discipline_glyph {
    padding-bottom: 30px;
  }

  /* change colour of glyphs for better readability */
  .discipline_glyph img {
    filter: brightness(0) saturate(50%) invert(91%) sepia(17%);
  }
}

/* for wide screens */
@media only screen and (min-width: 1000px) {
  .index_container {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
